.contact-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  margin: 10px;
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: #ff4141; /* Red border color on focus */
}

.submit-button {
  background-color: #ff4141;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff3030; /* Darker shade of red on hover */
}

/* Example styling for the FontAwesome icon */
.submit-button i {
  margin-left: 5px; /* Adjust spacing between text and icon */
}
